<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    
    <h2>ATM Account</h2>
    <p>Coin: <%= coinName %> </p>
    <p>Balance: <%= coinBalance %></p>
    <p>TUSD: <%= tUsd %></p>

    <p>Trade to USDT? </p>
    <p>1 ETH-to-USD: <%= ethUsd %></p>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
